# Every path is owned by the maintainers team until finer-grained ownership is
# warranted. GitHub silently no-ops an unknown owner, so the team must exist
# (create @lunma-app/maintainers) and stay valid.
* @lunma-app/maintainers
